<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.howtomakemoney.howto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AffiliateWebsite"></activity>
        <activity android:name=".Instagram" />
        <activity android:name=".WebDeveloper" />
        <activity android:name=".SellPrograming" />
        <activity android:name=".Youtube" />
        <activity android:name=".BuySellWebsites" />
        <activity android:name=".OnlineDirectory" />
        <activity android:name=".MembershipSite" />
        <activity android:name=".DigitalCourse" />
        <activity android:name=".EcommerceActivity" />
        <activity
            android:name=".FreeBitcoinActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NextPageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BuySell"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Bitcoin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Affiliate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SocialMedia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MarketingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AgentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BrokerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InsuranceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BlogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebsiteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdSpaceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>